.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 1em;
  user-select: none;
 }
.activeCard {
  color: red;
  background: palegreen;

}
.newgame{
  color: aliceblue;
  background(80, 213, 248): black;

 }
 .head{
  background-color: #ff79d2;
  text-align: left ;
  color: azure;

}
.maingame{
border-radius: 15px;
background-color: #63f0f0 ;
display: inline-block;
color: black;
}
